<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Online Courses</h4>
                <br />
            </div>
            <div class="table-responsive">
                <table class="table table-shopping">
                    <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-left">Course</th>
                        <th class="text-right">Price</th>
                        <th class="text-right"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <%= for (index, course) in courses { %>
                    <%=  partial(templatebase + "/" + "course.html")%>
                    <% } %>

                    </tbody>
                </table>
            </div>
        </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
</div> <!-- end row -->
