            <ul class="nav">
                 <li>
                    <a href="/blog">
                        <i class="ti-announcement"></i>
                        <p>Blog</p>
                    </a>
                </li>
                 <li>
                    <a href="/books">
                        <i class="ti-book"></i>
                        <p>Books</p>
                    </a>
                </li>
                 <li>
                    <a href="/training/online">
                        <i class="ti-cloud"></i>
                        <p>Self-Paced Training</p>
                    </a>
                </li>
                <li>
                    <a href="/training/live">
                        <i class="ti-headphone-alt"></i>
                        <p>Live Online Training</p>
                    </a>
                </li>
                <li>
                    <a href="/training/ipt">
                        <i class="ti-calendar"></i>
                        <p>Onsite Training</p>
                    </a>
                </li>
                <li>
                    <a href="/consulting">
                        <i class="ti-briefcase"></i>
                        <p>Consulting</p>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <i class="ti-help"></i>
                        <p>About</p>
                    </a>
                </li>
              </ul>
