<h2 class="title">Go Beyond</h2>
<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col-sm-6">
                <h3>Learn At Your Own Pace</h3>
                <p>Our online learning system allows you to take courses when it is convenient for you, not anyone else.</p>
            </div>

            <div class="col-sm-6">
                <h3>Online Editor and Terminal</h3>
                <p>Download the course materials to your computer and follow along, or use our integrated editor and terminal to complete all the coursework online.  No installation required!</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <h3>My Brand Name Here</h3>
                <p>And Why You should Trust it</p>
            </div>

            <div class="col-sm-8">
                <h3>Another Title Here</h3>
                <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</p>
            </div>
        </div>
    </div>
</div> <!--  end card -->



<%= partial(templatebase + "/" + "courses.html") %>
