<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><i class="ti-star"> </i> Featured Courses</h4>
                <br/>
            </div>
            <div class="table-responsive">
                <table class="table table-shopping">
                    <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-left">Course</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Price</th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% let lvl = "warning" %>
                    <% let typ = "Online, Live" %>
                    <%= for (index, webinar) in webinarlist { %>
                    <%= partial(templatebase + "/" + "webinar.html" ) %>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
</div> <!-- end row -->
