<div class="row">
    <div class="col-lg-12 col-sm-6">
        <h2><span>Gopher <span class="text-info">Train</span></span>
            <small>Learning built for you, where and when you need it.</small>
        </h2>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-warning text-center">
                            <a class="icon-warning" href="/training/online"><i class="ti-headphone-alt"></i></a>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers">
                            <p class="text-danger">Live</p>
                            Online Training
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr/>
                <div class="stats">
                    <i class="ti-headphone-alt"></i> Regularly scheduled <strong>Live Online</strong> training classes.

                    <hr/>
                    <button class="btn btn-xs btn-warning btn-fill">More Information</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-success text-center">
                            <a class="icon-success" href="/training/live"><i class="ti-cloud"></i></a>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers">
                            <p class="text-danger">Self-Paced</p>
                            Online Training
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr/>
                <div class="stats">
                    <i class="ti-cloud"></i> Use our unique and proprietary tools for self paced learning. Follow along
                    on your laptop or do the exercises <strong>online</strong>.
                </div>
                <hr/>
                <button class="btn btn-xs btn-success btn-fill">More Information</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-danger text-center">
                            <a class="icon-danger" href="/training/ipt"><i class="ti-calendar"></i></a>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers">
                            <p class="text-danger">In Person</p>
                            Training
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr/>
                <div class="stats">
                    <i class="ti-calendar"></i> Hire us to train your team. Onsite training available at competitive
                    rates. In-person courses can be customized to meet your needs, and vary from one day to five.
                    <hr/>
                    <button class="btn btn-xs btn-danger btn-fill">More Information</button>
                </div>
            </div>
        </div>
    </div>
</div>
<%= partial(templatebase + "/" + "courses.html") %>
