<div class="row">
    <div class="col-lg-8 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><%= webinar.Webinar.Title %></h4>
                <p class="category"></p>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="left-vertical-tabs">
                        <ul class="nav nav-stacked" role="tablist">
                            <li class="active">
                                <a href="#info" role="tab" data-toggle="tab">
                                    Info
                                </a>
                            </li>
                            <li>
                                <a href="#description" role="tab" data-toggle="tab">
                                    Description
                                </a>
                            </li>
                            <li>
                                <a href="#concept" role="tab" data-toggle="tab">
                                    Concept
                                </a>
                            </li>
                            <li>
                                <a href="#support" role="tab" data-toggle="tab">
                                    Support
                                </a>
                            </li>
                            <li>
                                <a href="#extra" role="tab" data-toggle="tab">
                                    Extra
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="right-text-tabs">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="info">
                                <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With
                                    a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                                <p>It’s one continuous form where hardware and software function in perfect unison,
                                    creating a new generation of phone that’s better by any measure.</p>
                            </div>
                            <div class="tab-pane" id="description">
                                <p>The first thing you notice when you hold the phone is how great it feels in your
                                    hand. The cover glass curves down around the sides to meet the anodized aluminum
                                    enclosure in a remarkable, simplified design. </p>
                                <p>There are no distinct edges. No gaps. Just a smooth, seamless bond of metal and glass
                                    that feels like one continuous surface.</p>
                            </div>
                            <div class="tab-pane" id="concept">
                                <p>It’s one continuous form where hardware and software function in perfect unison,
                                    creating a new generation of phone that’s better by any measure.</p>
                                <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With
                                    a smooth metal surface that seamlessly meets the new Retina HD display. </p>
                            </div>
                            <div class="tab-pane" id="support">
                                <p>From the seamless transition of glass and metal to the streamlined profile, every
                                    detail was carefully considered to enhance your experience. So while its display is
                                    larger, the phone feels just right.</p>
                                <p>It’s one continuous form where hardware and software function in perfect unison,
                                    creating a new generation of phone that’s better by any measure.</p>
                            </div>
                            <div class="tab-pane" id="extra">
                                <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With
                                    a smooth metal surface that seamlessly meets the new Retina HD display. </p>
                                <p>It’s one continuous form where hardware and software function in perfect unison,
                                    creating a new generation of phone that’s better by any measure.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


